@charset "UTF-8";
/* CSS Document */
body {
    margin: 0;
    font-family: 'Anonymous Pro', monospace;

}

/* nav bar */

.nav {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 30px;
}



header a img {
    height: 60px;
    width: auto;
}

.nav ul {
    list-style-type: none;
    margin: none;
    padding: none;
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
}

.contact-bg .nav ul {
    color: #7E7CAF;
}

.nav li {
    text-decoration: none;
    display: inline-flex;
    padding: 8px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color:black;
}

a:active {
    color:black;
}

a {
    text-decoration: none;
}

.contact-bg a:link {
    color: #f04949;
}

.contact-bg a:visited {
    color: #09F02F;
}

.contact-bg a:hover {
    color:black;
}

.contact-bg a:active {
    color:black;
}


/* Main Layout */

.main {
    display: grid;
    align-content: start;
    grid-template-columns: 50% auto;
    padding: 30px;
    column-gap: 30px;
}


.home-bg {
    background-color:#14B867; 
}

.about-bg {
    background-color:#f299b2; 
}

.contact-bg {
    background-color:#f1e30f; 
    
}

.column-1 {
    display: flex;
    align-items: flex-end;
    padding-bottom: 40px;
}

.home-bg .column-2 {
    background-image: url('../images/computer.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
    min-height: 500px;    
}


.contact-bg .column-2 {
    background-image: url('../images/sound.png');
    background-size: contain;
    background-repeat:no-repeat;
    background-position: right top;
    min-height: 500px;
    margin-top: -50pt;
}

.about-bg .column-2 {
    background-image: url('../images/cursor.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    min-height: 500px;
}

/* font styles */

h1 {
  font-family: 'Bungee', cursive;   
}

.home-bg .column-2 h1{
    color: white;
    font-size: 100pt;
    line-height: 90pt; 
}

.contact-bg .column-2 h1 {
    color: #41d0f0;
     font-size: 80pt;
    line-height: 75pt;
}

.about-bg h1 {
    color: #f04949;
    font-size: 70pt;
    line-height: 65pt; 
    margin-top: -1px;
}



p {
    text-align: justify;
    padding-right: 20px;
}


/* footer area*/

footer {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer-text {
    color: white;
    padding: 1px 30px;
    background: #f04949;
}

.contact-bg .footer-text {
    color: #f04949;
    padding: 5px 20px;
    background: #f1e30f;
}

.about-bg .footer-text {
    background: #f299b2;
}

@media screen and (max-width: 1100px) {
    
    .column-1 {
    display: flex;
    flex-direction: column;
    padding-top: 10%;

}
}


@media screen and (max-width: 480px) {
    

.nav li {
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    padding: 6px;
    text-align: right;
}

    .nav ul {
    margin-top: -6px;
    }
    
    .main {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .home-bg .column-2 {
    min-height: 300px;
    }
    
    .about-bg .column-2 {
    min-height: 300px;
    }
    
    .contact-bg .column-2 {
    min-height: 300px;
    margin-top: -15px;
    }
  
    .home-bg .column-2 h1 {
            font-size: 55pt;
            line-height: 48pt;
        }
    
    .about-bg .column-2 h1 {
            font-size: 50pt;
            line-height: 45pt;
        }
    
     .contact-bg .column-2 h1 {
            font-size: 60pt;
            line-height: 50pt;
        }
   
    
    p {
        text-align: left;
        padding-right: 0;
    }
    
    footer {
        background-color: #F0484A;
    }
    
    .about-bg footer {
        background-color: #f299b2;
    }
    
    .contact-bg footer {
        background-color: #f1e30f;
    }

}

@media screen and (min-width: 480px) and (max-width: 780px) {
    
    
    .home-bg .column-2 {
    min-height: 300px;
    }
    
   .contact-bg .column-2 {
    min-height: 300px;
    background-position: center;
    }
        
    .home-bg .column-2 h1 {
        font-size: 50pt;
        line-height: 45pt;
        }
    
    .about-bg .column-2 h1 {
        padding-top: 35px;
        font-size: 55pt;
        line-height: 48pt;
    }
    
    .contact-bg .column-2 h1 {
        padding-top: 35px;
        font-size: 55pt;
        line-height: 48pt;
    }
   
    
    p {
        text-align: left;
        padding-right: 0;
    }
    
    footer {
        background-color: #F0484A;
    }

    .about-bg footer {
        background-color: #f299b2;
    }
    
    .contact-bg footer {
        background-color: #f1e30f;
    }

}
